@font-face {
    font-family: 'Protofo';
    src: url('Protofo-Italic.woff2') format('woff2'),
        url('Protofo-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Protofo';
    src: url('Protofo-Regular.woff2') format('woff2'),
        url('Protofo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Protofo';
    src: url('Protofo-Bold.woff2') format('woff2'),
        url('Protofo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Protofo';
    src: url('Protofo-BoldItalic.woff2') format('woff2'),
        url('Protofo-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

